body {
  animation: fade-in 1s linear;
  font-family: 'Open Sans', sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Indie Flower', cursive;
}

header {
  padding: 40px 0 20px;
}

section,
body > footer {
  padding: 20px 0;
}

.bio {
  background-color: #79addc;
}

.novels {
  background-color: #ffc09f;
}

.quotes {
  background-color: #ffee93;
}

.links {
  background-color: #adf7b6;
}

blockquote,
.blockquote-reverse {
  border-style: none;
}

hr {
  border-top-color: #777;
}
